DJANGO_SECRET_KEY=replace-this-for-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=bluestock_dw
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_URL=redis://localhost:6379/0
WAREHOUSE_MODE=auto
